<!DOCTYPE html>
<html>
<head>
  <title>Bombs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://yui.yahooapis.com/3.4.0/build/yui/yui.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
